

<section>

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form onsubmit="return signinValidate()" action="/user_signin" method="post">
                            <div class="invalid-feedback ms-5 d-block">

                            </div>
                            {{#if loginChecker}}
                            <div>{{loginChecker}}</div>
                            {{/if}}
                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase text-white">Login</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>

                                <div class="invalid-feedback ms-5 d-block"></div>
                                <div class="form-outline form-white mb-4">
                                    <input type="email" class="form-control form-control-lg" id="email"
                                        placeholder="Your Email" name="email" />
                                    <label class="form-label" for="typeEmailX">Email</label>
                                </div>

                                <div class="invalid-feedback ms-5 d-block"></div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" class="form-control form-control-lg" id="password"
                                        placeholder="Password" name="password" />
                                    <label class="form-label" for="typePasswordX">Password</label>

                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/user_registration">Not a
                                        member?</a>
                                </p>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>



                            </div>


                            <div>
                                <p class="mb-0 text-white">Don't have an account? <a href="/user_registration"
                                        class="text-white-50 fw-bold">Sign
                                        Up</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>