<div class="btn-group btn-group-toggle w-25  mt-3 ms-5 mb-2 sales ">
  <a href="/profile" class="btn   btn-outline-dark " style="border-radius: 3px;"> Profile</a>
  <a href="/addressBook" class="btn  btn-outline-dark ">Address</a>
  <a href="/orders" class="btn   btn-outline-dark ">Orders</a>
  <a href="/wishlist" class="btn  btn-outline-dark ">Wishlist</a>
   <a href="/wallet" class="btn  btn-outline-dark ">wallet</a>
  {{!-- <button id="daily" onclick="salesReport(1,'daily')">Daily</button>
  <button id="weekly" class="btn btn-dark " onclick="salesReport(7,'weekly')">Weekly</button>
  <button id="monthly" class="btn btn-dark " onclick="salesReport(30,'monthly')">Monthly</button>
  <button id="yearly" class="btn btn-dark " onclick="salesReport(365,'yearly')">Yearly</button>
</div> --}}

</div>
<hr class="mt-1">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-3">
            <div class="card bg-c-black order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Wallet Balance</h6>
                    <h4 style="color: black;">{{walletDetails.walletBalace}}</h4>
  
                </div>
            </div>
        </div>
         <div class="col-md-4 col-xl-3">
            <div class="card bg-c-black order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Refferal ID </h6>
                    <h4 style="color: black;">{{walletDetails.referralId}} </h4>
                   
                </div>
            </div>
        </div>
      
	</div>
</div>
<footer style="margin-top: 250px;">
        <p class="copy-right"><img
                src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/copy-right-img_1x.png"
                alt="copy right image" /> 2022 all right recived </p>
        <p>privacy policy</p>
        <p>license</p>
</footer>
<style>
  body{
    margin-top:20px;
    background:#FAFAFA;
}
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
</style>
